body{
    background-color: lightgreen;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif; color: blueviolet; 
}

#edadIngresada{
    border-style: groove; background-color: aquamarine; width: 5%; margin: 5px;
}

button{ 
    margin: 5px; background-image: linear-gradient(to bottom, #eb94d0, #2079b0); color: rgb(255, 255, 255); font-weight: bold; padding: 4px; width: 8%;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(190, 40, 40);  
}

